@import '../../../styles/variables.scss';

.section{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.sectionEffectPresentation{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
    background-color: transparent; //nvx
    color: $tertiary;
    text-align: center;

    &__title{
        font-family: $font-title, sans-serif;
        font-size: 2rem;
    }
}

.sectionPresentation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color: $secondary;
    color: $tertiary;
    text-align: center;
    overflow-x: hidden;

    &__title{
        font-family: $font-title, sans-serif;
        font-size: 2rem;
    }
}

.sectionContact{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 2rem 1rem;
    box-sizing: border-box;
    background-color: $secondary;
    color: $tertiary;
    text-align: center;
    overflow-x: hidden;
    border: 1px solid $primary;
     box-shadow: 0 0 30px rgba(255, 239, 12, 0.4);

    &__title{
        font-family: $font-title, sans-serif;
        font-size: 2rem;
    }
}