.overlay{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px); // ✅ flou d’arrière-plan
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &__modal {
        background: white;
        padding: 2rem;
        border-radius: 12px;
        width: 100%;
        max-width: 600px;
        animation: slideDown 0.4s ease forwards;
        position: relative;

        &__close {
            position: absolute;
            top: 0.8rem;
            right: 1rem;
            font-size: 1.5rem;
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}

@keyframes slideDown {
    from {
      transform: translateY(-30%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }