@import '../../../styles/variables.scss';

.section{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.sectionIntro {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("../../../assets/pictures/background/intro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.sectionPage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    box-sizing: border-box;
    background-color: $secondary;
    color: $tertiary;
    text-align: center;
}