@import '../../styles/variables';

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;

  &__content {
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: $tertiary;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  &__content__picture {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}

// ✅ Swiper classes (globales)

:global(.swiper-wrapper){
    align-items: center;
}

:global(.swiper-slide) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

:global(.swiper-button-prev),
:global(.swiper-button-next) {
  color: $tertiary;
  font-size: 2rem;
  &:hover {
    color: #ccc;
  }
}

:global(.swiper-pagination-bullet) {
  background: rgba(255, 255, 255, 0.6);
}

:global(.swiper-pagination-bullet-active) {
  background: $primary;
}

@media (max-width: 768px) {
  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
