@import '../../../styles/variables.scss';

.title {
    font-family: $font-subtitile, sans-serif;
    font-size: 1.25rem;
    color: $tertiary;
    margin: 0 0 0.5rem 0;
}

.subtitle {
    font-size: 0.95rem;
    color: $tertiary;
    margin: 0;
}