@import 'fonts';

// Fonts
$font-title: 'Monserrat-Black', sans-serif;
$font-subtitile: 'Monserrat-Bold', sans-serif;
$font-body: 'Lato', sans-serif;

// Colors
$primary: #ffef0c;
$secondary: #000000;
$tertiary: #ffffff;