@import '../../styles/variables';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background: rgba(255, 255, 255, 0.6); /* Fond semi-transparent */
    backdrop-filter: blur(10px); /* Flou arrière */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

    &__logo {
        z-index: 15;
        display: flex;
        align-items: center;

        &__img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 5rem;
        }
    }

    &__list{
        display: flex;
        list-style: none;
        padding: 0 1rem 0 0;
        margin: 0;
        gap: 1rem;

        @media (max-width: 768px) {
            flex-direction: column;
            position: fixed;
            top: 0;
            left: -100%;
            width: 70%;
            height: 100vh;
            background: white;
            padding: 8rem 2rem;
            transition: right 0.3s ease;
            z-index: 10;
      
            &.open {
              left: 0;
            }
          }

        &__item {
            display: flex;
            align-items: center;
            font-weight: bold;

            &__link {
                position: relative;
                text-decoration: none;
                color: $secondary;
                font-size: 1.2rem;
                font-weight: bold;
                
                &:visited {
                    color: $secondary;
                }

                &::after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: $secondary; // couleur du soulignement
                    transition: all 0.3s ease;
                    transform: translateX(-50%);
                }

                &:hover::after,
                &.active::after {
                    width: 100%;
                }

                
            } 
        }
    }
}

.burger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 15;
  
    @media (max-width: 768px) {
      display: block;
    }
  }