.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    box-sizing: border-box;
  
    @media (max-width: 768px) {
      grid-template-columns: 1fr; // stack sur mobile
    }
  }