@import '../../../styles/variables.scss';

.rowDivForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 1rem 4rem;
  box-sizing: border-box;
  background-color: $secondary;
  color: $tertiary;

  &__left, &__right {
      flex: 1;
  }

  &__right img {
      width: 100%;
      height: auto;
      object-fit: cover;
  }

  @media (max-width: 768px) {

  flex-direction: column;
  padding: 1rem 1rem;
  gap: 2rem;

    .left, .right {
      width: 100%;
    }
  }
}

.rowDivButtons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 1rem 4rem;
  box-sizing: border-box;

  //&__left, &__right {
      //outline: 1px solid red;
  //}
  @media (max-width: 768px) {
    height: auto;
    flex-direction: column;
    gap: 2rem;

  }
}